@media(max-width:767px) {
    .collapse.show{
        background-color: #444
    }
    .full-nav .navbar-nav{
        text-align: center
    }
    .full-nav .navbar-nav .nav-link, .full-nav .navbar-nav .active > .nav-link{
        padding: 5px 0;
        display: inline-block
    }
    .navbar-light .navbar-brand {
        width: 65%;
    }

    .navbar-toggler {
        background-color: #fff
    }

    .home_icon i {
        display: none
    }

    .banner_btn a {
        margin-left: 0;
        padding: 10px 5px
    }

    .banner_btn a i {
        font-size: 26px;
    }

    .banner_btn a h4 {
        font-size: 13px;
    }

    .banner_btn a h4 span {
        font-size: 15px;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 10px;
    }

    .slick-dots {
        text-align: center;
        bottom: 0;
        right: 50%;
        transform: translateX(50%)
    }

    .slider {
        padding: 142px 0 70px 0
    }

    #full-about .about-txt {
        padding: 0 15px !important
    }

    .about-txt p {
        padding: 0
    }

    .feature h3 {
        font-size: 18px;
    }

    .nav-pills .nav-link > .heading {
        display: none
    }

    #v-pills-tab {
        flex-direction: row !important;
        justify-content: center;
    }

    .nav-pills .nav-link.active::before,
    .nav-pills .nav-link::before {
        position: absolute;
        content: "";
        height: 0px;
        width: 70%;
        background-color: #744fa0;
        bottom: 0;
        left: 0;
        transition: all 0.5s linear;
    }

    .nav-pills .nav-link {
        padding: 5px;
    }

    .feature-txt {
        text-align: center
    }

    .feature-txt p {
        text-align: center;
        text-align-last: center
    }

    #full_screenshots .slick-dots,
    .client-slick .slick-dots {
        position: static;
        text-align: center;
        transform: translate(0)
    }
    .screenimg{
        text-align: center
    }
    .screenimg img{
        display: inline-block
    }
    #full_video{
        padding: 100px 0
    }
    .plan-card{
        margin-top: 30px;
    }
    .team-detail p{
        padding: 10px;
    }
    .fbtext-col{
        padding: 10px!important
    }
    .footer-icon i{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .copyright p{
        font-size: 12px;
    }
    .feature-img{
        text-align: center
    } 
    .feature-img img{
        display: inline-block
    }
}

@media(min-width:576px) and (max-width:767px) {}

@media(min-width:768px) and (max-width:991px) {
     .navbar-toggler {
        background-color: #fff
    }
    .home_icon i {
        display: none
    }

    .banner_btn a {
        margin-left: 0;
        padding: 10px 5px
    }

    .banner_btn a i {
        font-size: 26px;
    }

    .banner_btn a h4 {
        font-size: 13px;
    }

    .banner_btn a h4 span {
        font-size: 15px;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 10px;
    }

    .slick-dots {
        text-align: center;
        bottom: 0;
        right: 50%;
        transform: translateX(50%)
    }

    .slider {
        padding: 142px 0 70px 0
    }

}

@media(min-width:992px) and (max-width:1199px) {}

@media(min-width:1200px) {}
